.paginWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 20px;
    width: auto;
    height: 100%;
}

.paginLink {
    padding: 15px;
    margin: 2px 5px;
    border: 1px solid black;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: all 0.7s ease;
    outline: transparent;
}

.paginLink:hover {
    border: 1px solid #FFBF00;
    color: #FFBF00;
}
